doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet' href='css/index.css')
body
  section.one
    article.one
      strong АВАРК
      strong
       i
      strong М
      strong
        mark.red 73
    aside#triangle-left
    article.two
      p
        b Вызов аварийного комисара
      p
       mark.red КРУГОСУТОЧНО
      p
       mark.tel 8 (8422) 99 - 33 - 66
    article.three
      p ПОПАЛИ В ДТП?
      p #[mark.red ЗВОНИТЕ!] 8 (8422) 99 - 33 - 66
      p ИЛИ #[mark.red ЗАКАЖИТЕ ОБРАТНЫЙ ЗВОНОК!]
    br
    article.four
     form
       input(type='text' placeholder='ИМЯ')
       input(type='text' placeholder='МОБИЛЬНЫЙ ТЕЛЕФОН')
       input.submit(type='submit')
  section.two
    h2 #[mark.upper Наша работа]
    article
      figure.one
      p #[mark.upper Выезд на место #[mark.red ДТП]]
    article
      figure.two
      p #[mark.upper Оценка #[mark.red ущерба]]
    article
      figure.three
      p #[mark.upper #[mark.red Фотосъёмка] места проишествия]
    article
      figure.four
      p #[mark.upper Составление пакета #[mark.red документов]]
    article
      figure.five
      p #[mark.upper #[mark.red Полное] Сопровождение]
    article
      figure.six
      p #[mark.upper Услуги #[mark.red эвакуатора]]
  section.three
    main
      h2 #[mark.upper Наши преимущества]
      ul
        li #[mark.upper Доступные цены]
        li #[mark.upper Оперативное прибытие на место ДТП]
        li #[mark.upper Быстрое и грамотное оформление документов]
        li #[mark.upper Круглосуточная поддержка и обратная связь]
  section.four
    main
      h3 #[mark.upper Что делать, если Вы попали в ДТП? Как выйти из ситуации, сохранив все свои права?]
      article
        