doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet' href='css/index.css')
body
  section.one
    main
      article.one
        strong #[mark.upper Аварк#[img(alt='о' src='./img/car.svg')]м#[mark.red 73]]
      div#message
        aside#triangle-left
        article.two
          p
            b Вызов аварийного комисара
          p
           mark.red КРУГОСУТОЧНО
          p
           mark.tel 8 (8422) 99 - 33 - 66
      article.three
        p ПОПАЛИ В ДТП?
        br
        p #[mark.red ЗВОНИТЕ!] 8 (8422) 99 - 33 - 66
        br
        p ИЛИ #[mark.red ЗАКАЖИТЕ ОБРАТНЫЙ ЗВОНОК!]
      br
      article.four
       form
         img(src='img/star.svg')
         input(type='text' placeholder='ИМЯ')
         br
         img(src='img/star.svg')
         input(type='text' placeholder='МОБИЛЬНЫЙ ТЕЛЕФОН')
         input.submit(type='submit' value='ПЕРЕЗВОНИТЕ МНЕ')
  section.two
    main
      h2 #[mark.upper Наша работа]
      article
        figure.one
        p #[mark.upper Выезд на место #[mark.red ДТП]]
      article
        figure.two
        p #[mark.upper Оценка #[mark.red ущерба]]
      article
        figure.three
        p #[mark.upper #[mark.red Фотосъёмка] места проишествия]
      article
        figure.four
        p #[mark.upper Составление пакета #[mark.red документов]]
      article
        figure.five
        p #[mark.upper #[mark.red Полное] Сопровождение]
      article
        figure.six
        p #[mark.upper Услуги #[mark.red эвакуатора]]
  section.three
    main
      h2 #[mark.upper Наши преимущества]
      ul
        li #[mark.upper Доступные цены]
        li #[mark.upper Оперативное прибытие на место ДТП]
        li #[mark.upper Быстрое и грамотное оформление документов]
        li #[mark.upper Круглосуточная поддержка и обратная связь]
  section.four
    main
      h2 #[mark.upper Что делать, если Вы попали в ДТП? Как выйти из ситуации, сохранив все свои права?]
      article
        p #[i Не удивляйтесь, если вы позвоните в ГАИ, #[br] а вам откажут в выезде - теперь в Ульяновске это норма, при мелких ДТП!]
        hr
        p #[strong Вам достаточно просто позвонить профессионалам, и к вам оперативно #[br] приедет аварийный комиссар.]
        p #[strong Мы решим ваши проблемы на месте: составим все необходимые документы, расскажем, #[br] что делать после ДТП и поддержим вас на всех остальных этапах.]
  section.five
    main
      h3 #[mark.upper Аварком73] круглосуточно решает ваши проблемы 8 (8422) 99-33-66
      form
        input(type='text' placeholder='Имя *')
        input(type='text' placeholder='Мобильный телефон *')
        input(type='submit' value='Перезвоните мне')
  footer
    main
      article.left
        p.logo #[mark.upper Аварк#[img(alt='о' src='./img/car.svg')]м#[mark.red 73]]
        p.tel #[mark.tel 8 (8422) 99 - 33 - 66]
        p Вызов аварийных комиссаров крурлосуточно
      article.right
        h4 Контора Иванова
        img(src='img/lightning-logo.svg' alt='logo')
        h5 Разработка сайта